<header>
	<nav class="navigation">

		{% for value in menu %}

			<a href="{{value.route}}">{{value.name}}</a>

		{% endfor %}

		<a href="/basket/all">Корзина (<span id="count"> {{count}} </span>) </a>

		{% if isAdmin %}
		<a href="/admin/management">Страница админа</a>
		{% endif %}

	</nav>
	<div class="logo">
		<a href="/"><span>BRAN</span><span class="headSp">D</span></a>
	</div>
</header>